---
#Rose Standard lds9122@rit.edu
- name: Create nested folders on Windows
  ansible.windows.win_file:
    path: C:\sites\pegasus
    state: directory

- name: Create a new folder on Windows
  ansible.windows.win_file:
    path: C:\sites\logs
    state: directory

- name: Adding a webpage for IIS
  community.windows.win_iis_website:
    name: Las Pegasus
    state: started
    port: 80
    ip: 0.0.0.0
    hostname: "{{ inventory_hostname_short }}"
    application_pool: pegasus
    physical_path: C:\sites\pegasus
    parameters: logfile.directory:C:\sites\logs
  register: website
