---
#Rose Standard lds9122@rit.edu
- name: Ensure Pegasus application pool exists
  microsoft.iis.web_app_pool:    
    name: pegasus
    state: started

- name: Create nested folders on Windows
  ansible.windows.win_file:
    path: C:\sites\pegasus
    state: directory

- name: Adding a webpage for IIS
  microsoft.iis.website:
    name: "Las Pegasus"
    state: started
    physical_path: C:\sites\pegasus
    application_pool: pegasus
    bindings:
      add:
        - protocol: http
          ip: "*"
          port: 80
          hostname: "{{ inventory_hostname_short }}"

- name: Stop Default Web Site
  microsoft.iis.website:
    name: "Default Web Site"
    state: stopped

- name: Copy website files to IIS
  ansible.windows.win_copy:
    src: ../files/site/
    dest: C:\sites\pegasus\


