---
#Rose Standard lds9122@rit.edu
- name: Create nested folders on Windows
  ansible.windows.win_file:
    path: C:\sites\pegasus
    state: directory

- name: Adding a webpage for IIS
  microsoft.iis.website:
    name: "Las Pegasus"
    state: started
    physical_path: C:\sites\pegasus
    application_pool: pegasus
    bindings:
      add:
        protocol: http
        ip_address: "*"
        port: 80
        hostname: "{{ inventory_hostname_short }}"
