---
# Ansible Playbook to Install OpenVPN Server and Manage Certificates
- name: Generation of PKI infrastructure using EasyRSA
  block:
    - name: Update and Install Prerequisites
      apt:
        update_cache: yes
        name:
          - openvpn
          - easy-rsa
        state: present

    - name: Create Easy-RSA Directory
      file:
        path: "{{ easyrsa_dir }}"
        state: directory
        mode: '0755'

    - name: Copy Easy-RSA Files
      copy:
        src: "{{ easy_rsa_source }}/"
        dest: "{{ easyrsa_dir }}/"
        directory_mode:
        remote_src: yes

    - name: Check if PKI directory exists
      stat:
        path: "{{ easyrsa_dir }}/pki"
      register: pki_dir_stat

    - name: Initialize Easy-RSA
      command: "{{ easyrsa_dir }}/easyrsa init-pki"
      args:
        chdir: "{{ easyrsa_dir }}"
      when: not pki_dir_stat.stat.exists

    - name: Check if CA file exists
      stat:
        path: "{{ ca_cert_file }}"
      register: ca_file_stat

    - name: Build the CA (Certificate Authority)
      expect:
        command: "{{ easyrsa_dir }}/easyrsa build-ca nopass"
        responses:
          "Common Name.*": "{{ ca_common_name }}"
      args:
        chdir: "{{ easyrsa_dir }}"
      when: not ca_file_stat.stat.exists

    - name: Check if server private key exists
      stat:
        path: "{{ server_key_file }}"
      register: server_key_stat

    - name: Generate Server Certificate and Key
      expect:
        command: "{{ easyrsa_dir }}/easyrsa gen-req {{ openvpn_server_name }} nopass"
        responses:
          "Common Name.*": "{{ ca_common_name }}"
      args:
        chdir: "{{ easyrsa_dir }}"
      when: not server_key_stat.stat.exists

    - name: Check if server sign certificate exists
      stat:
        path: "{{ server_cert_file }}"
      register: server_sign_stat

    - name: Sign Server Certificate
      expect:
        command: "{{ easyrsa_dir }}/easyrsa sign-req server {{ openvpn_server_name }}"
        responses:
          "Confirm request details.*": "yes"
      args:
        chdir: "{{ easyrsa_dir }}"
      when: not server_sign_stat.stat.exists
      register: server_cert

    - name: Check if diffie-hellman exists
      stat:
        path: "{{ dh_param_file }}"
      register: dh_stat

    - name: Generate Diffie-Hellman Key Exchange File
      command: "{{ easyrsa_dir }}/easyrsa gen-dh"
      args:
        chdir: "{{ easyrsa_dir }}"
      when: not dh_stat.stat.exists

    - name: Check if TLS key exists
      stat:
        path: "{{ ta_key_file }}"
      register: ta_key_stat

    - name: Generate TLS authentication key (ta.key)
      command: "openvpn --genkey --secret {{ ta_key_file }}"
      when: not ta_key_stat.stat.exists

- name: Networking forwarding configuration
  block:
    - name: Ensure net.ipv4.ip_forward is enabled in sysctl config
      ansible.posix.sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        state: present
        reload: yes

    - name: Apply sysctl changes immediately
      command: sysctl -w net.ipv4.ip_forward=1
      changed_when: false
      
    - name: Check if FORWARD rule exists for tun0 to openvpn_lan_interface
      command: iptables -C FORWARD -i tun0 -o {{ openvpn_lan_interface }} -j ACCEPT
      ignore_errors: true
      register: forward_tun0_to_openvpn_lan_interface_rule

    - name: Add FORWARD rule for tun0 to openvpn_lan_interface
      command: iptables -A FORWARD -i tun0 -o {{ openvpn_lan_interface }} -j ACCEPT
      when: forward_tun0_to_openvpn_lan_interface_rule.rc != 0

    - name: Check if FORWARD rule exists for openvpn_lan_interface to tun0
      command: iptables -C FORWARD -i {{ openvpn_lan_interface }} -o tun0 -m state --state RELATED,ESTABLISHED -j ACCEPT
      ignore_errors: true
      register: forward_openvpn_lan_interface_to_tun0_rule

    - name: Add FORWARD rule for openvpn_lan_interface to tun0
      command: iptables -A FORWARD -i {{ openvpn_lan_interface }} -o tun0 -m state --state RELATED,ESTABLISHED -j ACCEPT
      when: forward_openvpn_lan_interface_to_tun0_rule.rc != 0

    - name: Check if POSTROUTING MASQUERADE rule exists for tun0
      command: "iptables -t nat -C POSTROUTING -s {{ openvpn_network }}/24 -o {{ openvpn_lan_interface }} -j MASQUERADE"
      ignore_errors: true
      register: postrouting_masquerade_rule

    - name: Add POSTROUTING MASQUERADE rule for tun0
      command: "iptables -t nat -A POSTROUTING -s {{ openvpn_network }}/24 -o {{ openvpn_lan_interface }} -j MASQUERADE"
      when: postrouting_masquerade_rule.rc != 0

    - name: Save iptables rules
      shell: iptables-save > /etc/iptables.rules

    - name: Check if rc.local file exists
      stat:
        path: /etc/rc.local
      register: rc_local_stat

    - name: Create rc.local file
      copy:
        dest: /etc/rc.local
        content: |
          #!/bin/bash
          iptables-restore < /etc/iptables.rules
          exit 0
        mode: '0755'
      when: not rc_local_stat.stat.exists

    - name: Ensure rc.local runs iptables-restore
      lineinfile:
        path: /etc/rc.local
        line: "iptables-restore < /etc/iptables.rules"
        state: present

- name: Configure OpenVPN Server
  template:
    src: openvpn_server.conf.j2
    dest: "{{ openvpn_config_dir }}/{{ openvpn_server_name }}.conf"

- name: Enable and Start OpenVPN Service
  systemd:
    name: "{{ openvpn_service_name }}"
    enabled: true
    state: started

