---
# Created by Anny Hua (active setup method) and modified by Han Chen (runonce method)
# Feature: Custom cursor theme (ship cursor files)

- name: Create cursor directory
  ansible.windows.win_file:
    path: C:\ProgramData\Inscope\Cursors
    state: directory

- name: Copy cursor files to host
  ansible.windows.win_copy:
    src: "cursors/"
    dest: "C:\\ProgramData\\Inscope\\Cursors\\"

- name: Copy cursor changing script to host
  ansible.windows.win_copy:
    src: "cursor_script.ps1"
    dest: "C:\\ProgramData\\Inscope\\"

- name: Register Cursor Script to run at logon
  ansible.windows.win_regedit:
    path: HKLM:\Software\Microsoft\Windows\CurrentVersion\Run
    name: "cursorChange"
    data: 'powershell.exe -NoProfile -WindowStyle Hidden -ExecutionPolicy Bypass -File "C:\ProgramData\Inscope\cursor_script.ps1"'
    type: string