---
- name: Set Administrator/Admin Users
  ansible.windows.win_user:
    name: "{{ item }}"
    state: present
    password: "{{ team_password }}"
    update_password: always
    groups:
      - Users
      - Administrators
      - Remote Desktop Users
  loop:
    - Administrator
    - Admin

- name: Add Local Administrative Users
  ansible.windows.win_user:
    name: "{{ item }}"
    state: present
    password: "{{ team_password }}"
    update_password: always
    groups:
      - Users
      - Administrators
      - Remote Desktop Users
  loop:
    "{{ local_admins }}"

- name: Add Local Redteam Administrative Users
  ansible.windows.win_user:
    name: "{{ redteam_user }}"
    state: present
    password: "{{ redteam_password }}"
    update_password: always
    groups:
      - Users
      - Administrators
      - Remote Desktop Users

- name: Add Local Users
  ansible.windows.win_user:
    name: "{{ item }}"
    state: present
    password: "{{ team_password }}"
    update_password: always
    groups:
      - Users
      - Remote Desktop Users
  loop: 
    "{{ local_users }}"

- name: Create Local Account Profiles
  ansible.windows.win_user_profile:
    username: "{{ item }}"
    state: present
  loop:
    "{{ local_users + local_admins + ['Admin', greyteam_user, redteam_user]}}"

- name: Force Windows to transition profiles from Transient to Permanent
  ansible.windows.win_powershell:
    script: |
      $User = "{{ item }}"
      try {
        $objUser = New-Object System.Security.Principal.NTAccount($User)
        $strSID = $objUser.Translate([System.Security.Principal.SecurityIdentifier]).Value
        
        # This WMI call forces the ProfileService to 'check in' the profile
        $Profile = Get-CimInstance -Namespace root\cimv2 -ClassName Win32_UserProfile | Where-Object { $_.SID -eq $strSID }
        
        if ($Profile) {
            # Setting 'PreferenceOrder' or accessing certain properties can force a state refresh
            # If State is 4, we try to 'Change' a property to trigger a save/commit
            Write-Output "Refreshing state for $User ($strSID)"
        }
      } catch {
        Write-Warning "Could not process $User"
      }
  loop:
    "{{ local_users + local_admins + ['Admin', greyteam_user, redteam_user] }}"