---
- name: Check if app is installed
  ansible.windows.win_stat:
    path: "C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe"
  register: app_check

- name: Check if installer is present
  ansible.windows.win_stat:
    path: "{{ working_dir }}\\chrome\\chrome_install.exe"
  register: installer_check
  when: not app_check.stat.exists

- name: Create Directory
  ansible.windows.win_file:
    path: "{{ working_dir }}\\chrome"
    state: directory
  when:
    - not app_check.stat.exists
    - not installer_check.stat.exists

- name: Copy over file
  ansible.windows.win_copy: 
    src: files/chrome_install.exe
    dest: "{{ working_dir }}\\chrome"
  when:
    - not app_check.stat.exists
    - not installer_check.stat.exists

- name: Install Chrome
  ansible.windows.win_command: 'chrome_install.exe /silent /install'
  args:
    chdir: "{{ working_dir }}\\chrome"
  when: not app_check.stat.exists

# chrome installer automatically adds desktop shortcut to all users