---
- name: Add cmd shortcut to Desktop
  community.windows.win_shortcut:
    src: "C:\\Windows\\System32\\cmd.exe"
    dest: "C:\\Users\\{{ item }}\\Desktop\\CommandPrompt.lnk"
  loop: ['Public'] # Public will set it on all users' desktops automatically

- name: Add powershell shortcut to Desktop
  community.windows.win_shortcut:
    src: "C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe"
    dest: "C:\\Users\\{{ item }}\\Desktop\\Powershell.lnk"
  loop: ['Public']

- name: Add run shortcut to Desktop
  community.windows.win_shortcut:
    src: "C:\\Windows\\explorer.exe"
    arguments: "shell:::{2559a1f3-21d7-11d4-bdaf-00c04f60b9f0}" #lol this is so cursed. Run doesnt have its own binary so use this.
    dest: "C:\\Users\\{{ item }}\\Desktop\\Run.lnk"
    description: "Run Menu Shortcut"
    icon: "C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe" # steal powershell's icon as idk where the run one is and otherwise it will use powershell
  loop: ['Public']

- name: Add explorer shortcut to Desktop
  community.windows.win_shortcut:
    src: "C:\\Windows\\explorer.exe"
    dest: "C:\\Users\\{{ item }}\\Desktop\\Explorer.lnk"
  loop: ['Public']