[Unit]
Description=IPP Printer (save to file)

[Service]
ExecStart=/usr/sbin/ippeveprinter -D /home/{{ printer_admin }}/print -F application/postscript -c /usr/sbin/ippeveps {{ printer_name }}

