---
- name: Create domain admin users
  microsoft.ad.user:
    name: "{{ item }}"
    password: "{{ team_password }}"
    state: present
    enabled: yes
    password_never_expires: yes
    domain_username: "{{ greyteam_user }}"
    domain_password: "{{ greyteam_password }}"
    domain_server: "{{ domain }}"
  loop: "{{ domain_admins }}"

- name: Assign domain admin group memberships
  microsoft.ad.group:
    name: "{{ item }}"
    members: 
      add: "{{ domain_admins }}"
    state: present
    domain_username: "{{ greyteam_user }}"
    domain_password: "{{ greyteam_password }}"
    domain_server: "{{ domain }}"
  loop:
    - Enterprise Admins
    - Domain Users
    - Remote Management Users
    - Remote Desktop Users

- name: Create domain users
  microsoft.ad.user:
    name: "{{ item }}"
    password: "{{ team_password }}"
    state: present
    enabled: yes
    password_never_expires: yes
    domain_username: "{{ greyteam_user }}"
    domain_password: "{{ greyteam_password }}"
    domain_server: "{{ domain }}"
  loop: "{{ domain_users }}"

- name: Assign domain user group memberships
  microsoft.ad.group:
    name: "{{ item }}"
    members: 
      add: "{{ domain_users }}"
    state: present
    domain_username: "{{ greyteam_user }}"
    domain_password: "{{ greyteam_password }}"
    domain_server: "{{ domain }}"
  loop:
    - Remote Management Users
    - Remote Desktop Users

