---
- name: Create Database
  community.general.mssql_db:
    login_user: "{{ mssql_sqlsvcaccount }}"
    login_password: "{{ team_password }}"
    login_host: "{{ mssql_host }}"
    login_port: 1433
    name: "{{ mssql_database_name }}"
    state: present

- name: Check DB connection
  community.general.mssql_script:
    login_user: "{{ mssql_sqlsvcaccount }}"
    login_password: "{{ team_password }}"
    login_host: "{{ mssql_host }}"
    login_port: 1433
    db: "{{ mssql_database_name }}"
    script: "SELECT 1"

- name: Add Table
  community.general.mssql_script:
    login_user: "{{ mssql_sqlsvcaccount }}"
    login_password: "{{ team_password }}"
    login_host: "{{ mssql_host }}"
    login_port: 1433
    # Create table, delete existing data if it already exists, and add 2 rows of example data. Data taken from old database course, user must add in their own relevant to the comp theme
    script: |
      /* Cleanup for Fresh Lore State */
      IF OBJECT_ID('[dbo].[Elements]', 'U') IS NOT NULL DROP TABLE [dbo].[Elements];
      IF OBJECT_ID('[dbo].[Characters]', 'U') IS NOT NULL DROP TABLE [dbo].[Characters];
      IF OBJECT_ID('[dbo].[Locations]', 'U') IS NOT NULL DROP TABLE [dbo].[Locations];

      /* 1. Geographical Hierarchy */
      CREATE TABLE [dbo].[Locations] (
          [LocationID] INT IDENTITY(1,1) PRIMARY KEY,
          [PlaceName] NVARCHAR(100) NOT NULL,
          [Description] NVARCHAR(255)
      );

      /* 2. Character Biographies */
      CREATE TABLE [dbo].[Characters] (
          [CharID] INT IDENTITY(1,1) PRIMARY KEY,
          [Name] NVARCHAR(100) NOT NULL,
          [Species] NVARCHAR(50), -- Alicorn, Pegasus, Draconequus, etc.
          [LoreTitle] NVARCHAR(100), -- Princess of Friendship, Chaos Spirit, etc.
          [HomeLocationID] INT FOREIGN KEY REFERENCES [Locations]([LocationID])
      );

      /* 3. The Elements of Harmony (Artifacts) */
      CREATE TABLE [dbo].[Elements] (
          [ElementID] INT IDENTITY(1,1) PRIMARY KEY,
          [Virtue] NVARCHAR(50) NOT NULL, -- Magic, Honesty, etc.
          [BearerID] INT FOREIGN KEY REFERENCES [Characters]([CharID])
      );

      /* Populate The Map */
      INSERT INTO [dbo].[Locations] (PlaceName, Description) VALUES 
      ('Ponyville', 'The humble town at the edge of the Everfree Forest'),
      ('Canterlot', 'The royal capital atop Mt. Foal'),
      ('Crystal-Empire', 'The northern kingdom of crystalline ponies'),
      ('Everfree-Forest', 'Where nature grows wild and magic is untamed'),
      ('Cloudsdale', 'The floating city of pegasi and rainbow factories'),
      ('Tartarus', 'The subterranean prison for ancient evils');

      /* Populate The Inhabitants */
      DECLARE @Ponyville INT = (SELECT LocationID FROM [Locations] WHERE PlaceName='Ponyville');
      DECLARE @Canterlot INT = (SELECT LocationID FROM [Locations] WHERE PlaceName='Canterlot');
      DECLARE @Crystal INT = (SELECT LocationID FROM [Locations] WHERE PlaceName='Crystal-Empire');
      DECLARE @Everfree INT = (SELECT LocationID FROM [Locations] WHERE PlaceName='Everfree-Forest');

      INSERT INTO [dbo].[Characters] (Name, Species, LoreTitle, HomeLocationID) VALUES 
      ('twilight', 'Alicorn', 'Princess of Friendship', @Ponyville),
      ('pinkiepie', 'Earth Pony', 'Minister of Merriment', @Ponyville),
      ('applejack', 'Earth Pony', 'Element of Honesty', @Ponyville),
      ('rarity', 'Unicorn', 'Lady of Generosity', @Ponyville),
      ('rainbowdash', 'Pegasus', 'Loyalty incarnate', @Ponyville),
      ('fluttershy', 'Pegasus', 'Voice of Kindness', @Ponyville),
      ('celestia', 'Alicorn', 'Ruler of the Sun', @Canterlot),
      ('luna', 'Alicorn', 'Guardian of the Night', @Canterlot),
      ('discord', 'Draconequus', 'Lord of Chaos', @Everfree),
      ('cadence', 'Alicorn', 'Princess of Love', @Crystal),
      ('starswirl', 'Unicorn', 'The Bearded Sorcerer', @Canterlot);

      /* Assign The Elements of Harmony */
      INSERT INTO [dbo].[Elements] (Virtue, BearerID) VALUES 
      ('Magic', (SELECT CharID FROM Characters WHERE Name='twilight')),
      ('Laughter', (SELECT CharID FROM Characters WHERE Name='pinkiepie')),
      ('Honesty', (SELECT CharID FROM Characters WHERE Name='applejack')),
      ('Generosity', (SELECT CharID FROM Characters WHERE Name='rarity')),
      ('Loyalty', (SELECT CharID FROM Characters WHERE Name='rainbowdash')),
      ('Kindness', (SELECT CharID FROM Characters WHERE Name='fluttershy'));
    transaction: true
    params:
      dbname: "{{ mssql_database_name }}"