---
- name: Create Database
  ansible.builtin.shell: |
    kinit {{ domain_admins[0] }}@{{ domain | upper }} << 'EOF'
    {{ team_password }}
    EOF
    /opt/mssql-tools18/bin/sqlcmd -S {{ mssql_host }},1433 -E -C -Q "CREATE DATABASE [{{ mssql_database_name }}]"
  delegate_to: localhost
  #no_log: true # Hide password from logs

- name: Add Database Data
  ansible.builtin.shell: |
    /opt/mssql-tools18/bin/sqlcmd -S {{ mssql_host }},1433 -E -C -d "{{ mssql_database_name }}" -Q "
    /* 1. Cleanup for Fresh Lore State */
    IF OBJECT_ID('[dbo].[Elements]', 'U') IS NOT NULL DROP TABLE [dbo].[Elements];
    IF OBJECT_ID('[dbo].[Characters]', 'U') IS NOT NULL DROP TABLE [dbo].[Characters];
    IF OBJECT_ID('[dbo].[Locations]', 'U') IS NOT NULL DROP TABLE [dbo].[Locations];

    /* 2. Geographical Hierarchy */
    CREATE TABLE [dbo].[Locations] (
        [LocationID] INT IDENTITY(1,1) PRIMARY KEY,
        [PlaceName] NVARCHAR(100) NOT NULL,
        [Description] NVARCHAR(255)
    );

    /* 3. Character Biographies */
    CREATE TABLE [dbo].[Characters] (
        [CharID] INT IDENTITY(1,1) PRIMARY KEY,
        [Name] NVARCHAR(100) NOT NULL,
        [Species] NVARCHAR(50),
        [LoreTitle] NVARCHAR(100),
        [HomeLocationID] INT FOREIGN KEY REFERENCES [Locations]([LocationID])
    );

    /* 4. The Elements of Harmony */
    CREATE TABLE [dbo].[Elements] (
        [ElementID] INT IDENTITY(1,1) PRIMARY KEY,
        [Virtue] NVARCHAR(50) NOT NULL,
        [BearerID] INT FOREIGN KEY REFERENCES [Characters]([CharID])
    );

    /* 5. Populate The Map */
    INSERT INTO [dbo].[Locations] (PlaceName, Description) VALUES 
    ('Ponyville', 'The humble town at the edge of the Everfree Forest'),
    ('Canterlot', 'The royal capital atop Mt. Foal'),
    ('Crystal-Empire', 'The northern kingdom of crystalline ponies'),
    ('Everfree-Forest', 'Where nature grows wild and magic is untamed'),
    ('Cloudsdale', 'The floating city of pegasi and rainbow factories'),
    ('Tartarus', 'The subterranean prison for ancient evils');

    /* 6. Populate The Inhabitants */
    DECLARE @Ponyville INT = (SELECT LocationID FROM [Locations] WHERE PlaceName='Ponyville');
    DECLARE @Canterlot INT = (SELECT LocationID FROM [Locations] WHERE PlaceName='Canterlot');
    DECLARE @Crystal INT = (SELECT LocationID FROM [Locations] WHERE PlaceName='Crystal-Empire');
    DECLARE @Everfree INT = (SELECT LocationID FROM [Locations] WHERE PlaceName='Everfree-Forest');

    INSERT INTO [dbo].[Characters] (Name, Species, LoreTitle, HomeLocationID) VALUES 
    ('twilight', 'Alicorn', 'Princess of Friendship', @Ponyville),
    ('pinkiepie', 'Earth Pony', 'Minister of Merriment', @Ponyville),
    ('applejack', 'Earth Pony', 'Element of Honesty', @Ponyville),
    ('rarity', 'Unicorn', 'Lady of Generosity', @Ponyville),
    ('rainbowdash', 'Pegasus', 'Loyalty incarnate', @Ponyville),
    ('fluttershy', 'Pegasus', 'Voice of Kindness', @Ponyville),
    ('celestia', 'Alicorn', 'Ruler of the Sun', @Canterlot),
    ('luna', 'Alicorn', 'Guardian of the Night', @Canterlot),
    ('discord', 'Draconequus', 'Lord of Chaos', @Everfree),
    ('cadence', 'Alicorn', 'Princess of Love', @Crystal),
    ('starswirl', 'Unicorn', 'The Bearded Sorcerer', @Canterlot);

    /* 7. Assign The Elements of Harmony */
    INSERT INTO [dbo].[Elements] (Virtue, BearerID) VALUES 
    ('Magic', (SELECT CharID FROM Characters WHERE Name='twilight')),
    ('Laughter', (SELECT CharID FROM Characters WHERE Name='pinkiepie')),
    ('Honesty', (SELECT CharID FROM Characters WHERE Name='applejack')),
    ('Generosity', (SELECT CharID FROM Characters WHERE Name='rarity')),
    ('Loyalty', (SELECT CharID FROM Characters WHERE Name='rainbowdash')),
    ('Kindness', (SELECT CharID FROM Characters WHERE Name='fluttershy'));"
  delegate_to: localhost