---
- name: Create MSSQL (TCP) Exception In Firewall for 1433 (Windows > 7/2012)
  community.windows.win_firewall_rule:
    name: MSSQL
    protocol: tcp
    localport: 1433
    action: allow
    direction: in
    state: present
    profiles:
    - domain
    - private
    - public
    localip: any
    remoteip: any
    enabled: yes
  when: ansible_distribution_major_version|int > 6

- name: Create MSSQL (TCP) Exception In Firewall for 1434(Windows > 7/2012)
  community.windows.win_firewall_rule:
    name: MSSQL
    protocol: tcp
    localport: 1434
    action: allow
    direction: in
    state: present
    profiles:
    - domain
    - private
    - public
    localip: any
    remoteip: any
    enabled: yes
  when: ansible_distribution_major_version|int > 6

- name: Create MSSQL (UDP) Exception in Firewall for 1433 (Windows > 7/2012)
  community.windows.win_firewall_rule:
    name: MSSQL
    protocol: udp
    localport: 1433
    action: allow
    direction: in
    state: present
    profiles:
    - domain
    - private
    - public
    localip: any
    remoteip: any
    enabled: yes
  when: ansible_distribution_major_version|int > 6

- name: Create MSSQL (UDP) Exception in Firewall for 1434 (Windows > 7/2012)
  community.windows.win_firewall_rule:
    name: MSSQL
    protocol: udp
    localport: 1434
    action: allow
    direction: in
    state: present
    profiles:
    - domain
    - private
    - public
    localip: any
    remoteip: any
    enabled: yes
  when: ansible_distribution_major_version|int > 6