---
- name: Check if app is installed
  ansible.windows.win_stat:
    path: "C:\\Program Files\\Microsoft SQL Server\\"
  register: app_check
  ignore_errors: true

# If app is installed, nothing below this line will execute

# Optimize file transfer by skipping transfer if installer is already present
- name: Check if installer is present
  ansible.windows.win_stat:
    path: "{{ working_dir }}\\mssql"
  register: installer_check
  when: not app_check.stat.exists
  ignore_errors: true

- name: Create Directory
  ansible.windows.win_file:
    path: "{{ working_dir }}\\mssql"
    state: directory
  when:
    - not app_check.stat.exists
    - not installer_check.stat.exists

- name: Copy over installer file
  ansible.windows.win_copy: 
    src: files/SQL2025-SSEI-Expr.exe
    dest: "{{ working_dir }}\\mssql\\installer.exe"
  when: not app_check.stat.exists

- name: Copy over config file
  ansible.builtin.template:
    src: "templates/config.ini.j2"
    dest: "{{ working_dir }}\\mssql\\config.ini"
  when: not app_check.stat.exists

# Needed to fix a crypto access denied error when using Network Service as the svc account
- name: Configure Cryptography ProtectionPolicy
  ansible.windows.win_regedit:
    path: HKLM:\Software\Microsoft\Cryptography\Protect\Providers\df9d8cd0-1501-11d1-8c7a-00c04fc297eb
    name: ProtectionPolicy
    data: 1
    type: dword
    state: present
  when: not app_check.stat.exists

- name: Install MSSQL
  ansible.windows.win_command: '.\installer.exe /ConfigurationFile=.\config.ini /IACCEPTSQLSERVERLICENSETERMS /Q'
  args:
    chdir: "{{ working_dir }}\\mssql"
  when: not app_check.stat.exists
  become: yes
  become_method: runas
  become_user: "{{ domain }}\\{{ greyteam_user }}" # needed for crypto

- name: Register MSSQLSvc host with SPN
  ansible.windows.win_powershell: # NOTE: something broke and now connecting by IP wont work despite SPN being set same as before. FQDN works though!
    script: |
      setspn -D MSSQLSvc/{{ inventory_hostname_short }}.{{ domain }}:1433 {{ inventory_hostname_short | upper }}
      setspn -D MSSQLSvc/{{ mssql_host }}:1433 {{ inventory_hostname_short | upper }}
      setspn -D MSSQLSvc/{{ mssql_host }} {{ inventory_hostname_short | upper }}
      setspn -S MSSQLSvc/{{ inventory_hostname_short }}.{{ domain }}:1433 {{ inventory_hostname_short | upper }}
      setspn -S MSSQLSvc/{{ mssql_host }}:1433 {{ inventory_hostname_short | upper }}
      setspn -S MSSQLSvc/{{ mssql_host }} {{ inventory_hostname_short | upper }}
    #setspn -S MSSQLSvc/manehatten.mlp.local:1433 MANEHATTEN
    #setspn -S MSSQLSvc/10.0.10.2:1433 MANEHATTEN
    # -D to delete (ansible wont indicate)
  become: yes
  become_method: runas
  become_user: "{{ domain }}\\{{ greyteam_user }}"
  #when: not app_check.stat.exists
  
- name: Enable TCP/IP for SQL Server
  ansible.windows.win_powershell:
    script: |
      $inst = "{{ mssql_instancename }}"
      $regPath = "HKLM:\SOFTWARE\Microsoft\Microsoft SQL Server"
      $instancePath = (Get-ChildItem $regPath | Where-Object { $_.PSChildName -like "*.$inst" }).Name

      $tcpPath = "Registry::$instancePath\MSSQLServer\SuperSocketNetLib\Tcp"

      # Enable TCP globally
      Set-ItemProperty -Path $tcpPath -Name "Enabled" -Value 1

      # Force Listen All to True (1)
      Set-ItemProperty -Path $tcpPath -Name "ListenOnAllIPs" -Value 1

      # Enable IPAll
      Set-ItemProperty -Path "$tcpPath\IPAll" -Name "TcpPort" -Value "1433"
      Set-ItemProperty -Path "$tcpPath\IPAll" -Name "TcpDynamicPorts" -Value ""

      # Loop through IP1, IP2, etc. and set Enabled to 1
      Get-ChildItem $tcpPath | Where-Object { $_.PSChildName -like "IP*" } | ForEach-Object {
          Set-ItemProperty -Path $_.PSPath -Name "Enabled" -Value 1
      }
  when: not app_check.stat.exists

- name: Restart SQL Service
  ansible.windows.win_service:
    #name: "MSSQL${{ mssql_instancename }}"
    name: "{{ mssql_instancename }}"
    state: restarted