---
# restart windows
# https://docs.ansible.com/projects/ansible/latest/collections/community/general/mssql_db_module.html#ansible-collections-community-general-mssql-db-module
# https://docs.ansible.com/projects/ansible/latest/collections/community/general/mssql_script_module.html#ansible-collections-community-general-mssql-script-module

# https://galaxy.ansible.com/ui/repo/published/microsoft/sql/content/role/server/
# https://github.com/linux-system-roles/mssql/tree/main

# https://github.com/automatesql/Ansible-for-SQL-Server-DBAs/blob/main/Simple-SQL-Server-Install/config2022.j2

- name: Reboot if Required
  ansible.builtin.include_tasks: reboot.yaml

- name: Install MSSQL
  ansible.builtin.include_tasks: install.yaml

- name: Configure Firewall for MSSQL
  ansible.builtin.include_tasks: firewall.yaml

- name: Add MSSQL Data
  ansible.builtin.include_tasks: data.yaml

- name: Reboot if Required
  ansible.builtin.include_tasks: reboot.yaml