---
# Checks the 3 most reliable locations on Windows systems that are set if Windows believes a restart is pending
# Source: u/zoredache at https://www.reddit.com/r/ansible/comments/kt5q02/install_pending_windows_updates_and_reboot_first/
- name: Examine various registry locations identify a pending reboot
  win_shell: |

    $results = @{'needs_reboot'=$false ; 'reason'=@()}
    $regpath = "HKLM:\Software\Microsoft\Windows\CurrentVersion\Component Based Servicing\RebootPending"
    if (Get-ChildItem -Path $regpath -ErrorAction Ignore) {
      $results['needs_reboot']=$true
      $results['reason']+='Component Based Servicing'
    }
    $regpath = "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\WindowsUpdate\Auto Update\RebootRequired"
    if (Get-Item -Path $regpath -ErrorAction Ignore) {
      $results['needs_reboot']=$true
      $results['reason']+='WindowsUpdate'
    }
    $regpath = "HKLM:\SYSTEM\CurrentControlSet\Control\Session Manager"
    if (Get-ItemProperty -Path $regpath -Name PendingFileRenameOperations -ErrorAction Ignore) {
      $results['needs_reboot']=$true
      $results['reason']+='PendingFileRenameOperations'
    }
    try {
      $util = [wmiclass]"\\.\root\ccm\clientsdk:CCM_ClientUtilities"
      $status = $util.DetermineIfRebootPending()
      if(($status -ne $null) -and $status.RebootPending){
        $results['needs_reboot']=$true
        $results['reason']+='CCM_RebootPending'
      }
    } catch{}

    return $results | ConvertTo-Json
  register: needs_reboot

- name: set needs_reboot for other roles/plays
  set_fact:
    needs_reboot: "{{ (reboot_check_output.stdout | from_json).needs_reboot | default(false) }}"
    reboot_reasons: "{{ (reboot_check_output.stdout | from_json).reason | default([]) }}"

- name: Reboot if Needed
  ansible.windows.win_reboot:
  when: needs_reboot
