---
- name: Add blueteam user
  ansible.builtin.user:
    name: "blueteam"
    password: "{{ team_password | ansible.builtin.password_hash('sha512') }}" 
    groups: sudo
    # groups: "{{ ['sudo'] + linux_groups }}"
    append: yes
    shell: /bin/bash
    create_home: yes 

- name: Ensure Desktop directories exist
  ansible.builtin.file:
    path: "/home/{{ item }}/Desktop"
    state: directory
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: '0755'
  loop:
    - blueteam
    - "{{ greyteam_user }}"

- name: Create Desktop Shortcuts
  ansible.builtin.file:
    src: "{{ item.src }}"
    dest: "/home/{{ item.user }}/Desktop/{{ item.src | basename }}"
    state: link
    owner: "{{ item.user }}"
    group: "{{ item.user }}"
    mode: '0755'
  loop: "{{ q('nested', ['blueteam', greyteam_user], shortcuts) }}"
  vars:
    shortcuts:
      - src: "/usr/share/applications/org.remmina.Remmina.desktop"
      - src: "/usr/share/applications/firefox.desktop"
      - src: "/usr/share/applications/chromium.desktop"
  loop_control:
    label: "Linking {{ item.1.src | basename }} for {{ item.0 }}"
  register: link_result
  #ignore_errors: yes # Helpful if one browser name varies between Debian/Lubuntu