---
- name: Add blueteam user
  ansible.builtin.user:
    name: "blueteam"
    password: "{{ team_password | ansible.builtin.password_hash('sha512') }}" 
    groups: sudo
    # groups: "{{ ['sudo'] + linux_groups }}"
    append: yes
    shell: /bin/bash
    create_home: yes 

- name: Ensure Desktop directories exist
  ansible.builtin.file:
    path: "/home/{{ item }}/Desktop"
    state: directory
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: '0755'
  loop:
    - blueteam
    - "{{ greyteam_user }}"

- name: Create Desktop Symbolic Links
  ansible.builtin.file:
    src: "{{ item.1.src }}"
    dest: "/home/{{ item.0 }}/Desktop/{{ item.1.src | basename }}"
    state: link
    owner: "{{ item.0 }}"
    group: "{{ item.0 }}"
    mode: '0755'
  loop: "{{ q('nested', ['blueteam', greyteam_user], shortcuts) }}"
  vars:
    shortcuts:
      - src: "/usr/share/applications/org.remmina.Remmina.desktop"
      - src: "/var/lib/snapd/desktop/applications/firefox_firefox.desktop"
      - src: "/usr/share/applications/chromium-browser.desktop"
  ignore_errors: yes
  register: desktop_links

- name: Set metadata trust via GIO
  ansible.builtin.command:
    cmd: "gio set -t string /home/{{ item.0 }}/Desktop/{{ item.1.src | basename }} metadata::trusted true"
  loop: "{{ q('nested', ['blueteam', greyteam_user], shortcuts) }}"
  vars:
    shortcuts:
      - src: "/usr/share/applications/org.remmina.Remmina.desktop"
      - src: "/var/lib/snapd/desktop/applications/firefox_firefox.desktop"
      - src: "/usr/share/applications/chromium-browser.desktop"
  # We use become_user because gio metadata is stored in the user's gvfs database
  become: yes
  become_user: "{{ item.0 }}"
  ignore_errors: yes
  when: desktop_links.changed