---
- name: Change root password
  ansible.builtin.user:
    name: root
    password: "{{ team_password | ansible.builtin.password_hash('sha512') }}" 

- name: Ensure admin users exist and are in sudo group
  ansible.builtin.user:
    name: "{{ item }}"
    password: "{{ team_password | ansible.builtin.password_hash('sha512') }}" 
    groups: sudo
    # groups: "{{ ['sudo'] + linux_groups }}"
    append: yes
    shell: /bin/bash
    create_home: yes 
  loop: "{{ local_admins }}"

- name: Ensure regular users exist
  ansible.builtin.user:
    name: "{{ item }}"
    password: "{{ team_password | ansible.builtin.password_hash('sha512') }}" 
    groups: users
    append: yes
    shell: /bin/bash
    create_home: yes
  loop: "{{ local_users }}"