---
- name: Ensure DNS Points to Management DNS
  ansible.windows.win_dns_client:
    adapter_names: '*'
    dns_servers: "{{ mgmt_dns }}"
  # Support mgmt dns having zero entries (why?)
  when: mgmt_dns is defined and mgmt_dns | length > 0
  
- name: Join to domain
  microsoft.ad.membership:
    dns_domain_name: "{{ domain }}"
    domain_admin_user: "{{ greyteam_user }}@{{ domain }}"
    domain_admin_password: "{{ greyteam_password }}"
    #domain_ou_path: "OU=Windows,OU=Servers,DC=mlp,DC=local" # TODO - dynamic
    hostname: "{{ inventory_hostname_short }}"
    state: domain
    reboot: true

- name: Create Domain Account Profiles
  ansible.windows.win_user_profile:
    username: "{{ item }}"
    state: present
  loop:
    "{{ domain_users + domain_admins }}" #['greyteam_user'] conflicts with local user and cant figure out domain specifier. doesnt matter.

# todo - import full user profile creation from local users