---
- name: Join Windows hosts to AD
  hosts: windows
  tasks:
    - name: Join to domain
      microsoft.ad.domain_membership:
        dns_domain_name: "{{ domain }}"
        domain_admin_user: "{{ greyteam_user }}"
        domain_admin_password: "{{ greyteam_password }}"
        state: domain
