---
- name: Ping Linux
  hosts: linux
  gather_facts: no
  tags:
    - ping
    - ping_linux
    - linux
  tasks:
    - name: Ping Linux
      ansible.builtin.ping:

- name: Ping Windows
  hosts: windows
  gather_facts: no
  tags: 
    - ping
    - ping_windows
    - windows
  tasks:
    - name: Ping Windows
      ansible.windows.win_ping:

#################################
########### Management ##########
#################################

- name: Deploy OpenVPN Server
  hosts: vpn
  roles:
    - openvpn_server
  tags: 
    - mgmt
    - openvpn
    - openvpn_server

- name: Deploy Scoring Server
  hosts: scoring
  roles:
    - scoring_server
  tags: 
    - mgmt
    - scoring
    - scoring_server

#################################
########### Team Hosts ##########
#################################

#######################
######## WINDOWS ######
#######################

######## Generic ######

- name: Run Windows Standards 
  hosts: windows:&inscope:!cement
  roles:
    - windows_standards
  tags: 
    - windows
    - team
    - standards
    - stds

- name: Create Local Users
  hosts: windows:&inscope:!cement
  roles:
    - windows_users_local
  tags:
  - windows
  - team
  - local_users

#- name: Deploy Rustdesk Windows
#  hosts: windows:&gui:!cement
#  roles:
#    - windows_rustdesk
#  tags:
#    - windows 
#    - team 
#    - rustdesk
#    - rustdesk_windows

- name: Install Utilities
  hosts: windows:&inscope:!cement
  roles:
    - windows_utilities
  tags:
    - windows
    - team
    - utilities

- name: Set Wallpaper
  hosts: windows:&inscope:!cement
  roles:
    - windows_wallpaper
  tags:
    - windows
    - team
    - wallpaper

- name: Deploy User Files
  hosts: windows:&inscope:!cement
  roles:
    - windows_user_files
  tags:
    - windows
    - team
    - files

###### Services #######

- name: Windows Deploy MSSQL
  hosts: mssql
  roles:
    - windows_mssql
  tags:
    - windows
    - team
    - mssql

####### Finish #######

- name: Post Deploy Cleanup
  hosts: windows:&inscope:!cement
  roles:
    - windows_finish
  tags:
    - windows 
    - team 
    - post_deploy

#######################
######## LINUX ########
#######################

####### Generic #######

- name: Deploy Linux Standards
  hosts: linux
  roles:
    - linux_standards
  tags:
    - linux 
    - team 
    - standards
    - stds

- name: Deploy Linux Users
  hosts: linux
  roles:
    - linux_users
  tags:
    - linux 
    - team 
    - users
    - users_linux

- name: Deploy Rustdesk Linux
  hosts: linux:&gui
  roles:
    - linux_rustdesk
  tags:
    - linux 
    - team 
    - rustdesk
    - rustdesk_linux

###### Services #######

- name: Deploy CUPS
  hosts: cups
  roles:
    - linux_cups
  tags:
    - cups
    - linux
    - inscope

####### Finish ########

- name: Clean Up
  hosts: linux
  roles:
    - linux_finish
  tags:
    - linux 
    - team
    - finish
    - post_deploy

- name: Reboot
  hosts: linux
  roles:
    - linux_reboot
  tags:
<<<<<<< Updated upstream
    - linux
    - team
    - reboot
    - post_deploy
=======
    - linux 
    - team 
    - reboot
>>>>>>> Stashed changes
