---

- name: Create RDP (TCP) Exception In Firewall (Windows > 7/2012)
  community.windows.win_firewall_rule:
    name: RDP
    protocol: tcp
    localport: 3389
    action: allow
    direction: in
    state: present
    profiles:
    - domain
    - private
    - public
    localip: any
    remoteip: any
    enabled: yes
  when: ansible_distribution_major_version|int > 6

- name: Create RDP (UDP) Exception in Firewall (Windows > 7/2012)
  community.windows.win_firewall_rule:
    name: RDP
    protocol: udp
    localport: 3389
    action: allow
    direction: in
    state: present
    profiles:
    - domain
    - private
    - public
    localip: any
    remoteip: any
    enabled: yes
  when: ansible_distribution_major_version|int > 6

- name: Create RDP Exception in Firewall (<= Windows 7/2012)
  ansible.windows.win_command: cmd.exe
  args:
    stdin: 'netsh advfirewall firewall set rule group="remote desktop" new enable=Yes'
  when: ansible_distribution_major_version|int <= 6
    