---

- name: Allow Inbound WinRM Traffic (HTTP)
  win_shell: New-NetFirewallRule -DisplayName 'Allow WinRM HTTP In' -Direction Inbound -Action Allow -Protocol TCP -LocalPort 5985

- name: Allow Inbound WinRM Traffic (HTTPS)
  win_shell: New-NetFirewallRule -DisplayName 'Allow WinRM HTTPS In' -Direction Inbound -Action Allow -Protocol TCP -LocalPort 5985

- name: Allow Outbound WinRM Traffic (HTTP)
  win_shell: New-NetFirewallRule -DisplayName 'Allow WinRM HTTP Out' -Direction Outbound -Action Allow -Protocol TCP -LocalPort 5985

- name: Allow Outbound WinRM Traffic (HTTPS)
  win_shell: New-NetFirewallRule -DisplayName 'Allow WinRM HTTPS Out' -Direction Inbound -Action Allow -Protocol TCP -LocalPort 5985