---
- name: Create working dir
  ansible.builtin.file:
    path: "{{ working_dir }}"
    state: directory
    mode: '0777'
    owner: root
    group: root

- name: Set timezone to US Eastern (October time)
  ansible.builtin.command: timedatectl set-timezone America/New_York

- name: Set hostname to inventory name
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

- name: Set FQDN in /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^127\.0\.0\.1\s+'
    line: "127.0.0.1 {{ inventory_hostname_short }}.{{ domain }} {{ inventory_hostname_short }}"
    state: present

#- name: Configure static DNS resolvers
#  ansible.builtin.copy:
#    dest: /etc/netplan/01-dns.yaml
#    content: |
#      network:
#        version: 2
#        ethernets:
#          eth0:
#            dhcp4: true
#            nameservers:
#              addresses: [{{ dns_primary }}, {{ dns_secondary }}]
#  notify: Apply netplan # runs netplan apply to save changes

# Works on Ubuntu and Debian, untested elsewhere
- name: Create resolved.conf.d directory
  ansible.builtin.file:
    path: /etc/systemd/resolved.conf.d
    state: directory
    mode: '0755'

- name: Create DNS override file
  ansible.builtin.copy:
    dest: /etc/systemd/resolved.conf.d/dns_override.conf
    content: |
      [Resolve]
      DNS={{ mgmt_dns | join(' ') }}
    mode: '0644'
  register: dns_dropin

- name: Deploy Local DNS Overrides
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: ".*\\s+{{ item.name | regex_escape }}$"
    line: "{{ item.ip }} {{ item.name }}"
    state: present
    create: yes
  loop: "{{ dns_overrides }}"

- name: Restart systemd-resolved
  ansible.builtin.systemd:
    name: systemd-resolved
    state: restarted
  when: dns_dropin.changed
    
- name: Create payload keying file
  ansible.builtin.copy:
    dest: '{{ payload_key_location }}'
    content: '{{ payload_key_content }}'
    owner: root
    group: root
    mode: '0444'
  when: "'inscope' in group_names"