---
# Eleanor Fan
# ezf6031
# 02/03/2026

# Base install of CUPS
- name: Install CUPS
  ansible.builtin.apt:
    name: cups
    update_cache: yes
  become: yes

# Overwrites default config to allow public access to the web GUI
- name: Alter config
  ansible.builtin.copy:
    src: "files/cupsd.conf"
    dest: "/etc/cups/cupsd.conf"
    owner: root
    group: root

# Create user to login to GUI & receive print files
- name: Create printer admin
  ansible.builtin.user:
    name: "{{ printer_admin }}"
    shell: "/bin/bash"
    password: "{{ printer_admin_passwd | password_hash('sha512') }}"
    group: lpadmin
  become: yes

# Create directory to output print files to
- name: Create printer output directory
  ansible.builtin.file:
    path: "/home/{{ printer_admin }}/print"
    state: directory

# Create & start service so that we have a simulated printer
# to actually print to
- name: Create printer service
  ansible.builtin.template:
    src: "templates/ippprinter.service.j2"
    dest: "/etc/systemd/system/ippprinter.service"
  become: yes

# If we changed the service file, it needs to be reloaded
- name: Reload systemctl daemons
  ansible.builtin.command:
    cmd: "systemctl daemon-reload"
  become: yes

- name: Start printer service
  ansible.builtin.service:
    name: ippprinter
    state: restarted
    enabled: yes
  become: yes

# Set our new printer to be the default printer
- name: Set printer to default
  ansible.builtin.command:
    cmd: "lpoptions -d {{ printer_name }}"

- name: Set correct printer model
  ansible.builtin.command:
    cmd: "/usr/sbin/lpadmin -p {{ printer_name }} -m everywhere"

# Share this printer with the subnet
- name: Set server to share printers
  ansible.builtin.command:
    cmd: "/usr/sbin/cupsctl --share-printers"

- name: Tag this printer as sharable
  ansible.builtin.command:
    cmd: "/usr/sbin/lpadmin -p {{ printer_name }} -o printer-is-shared=true"

