---
- name: Ensure staging folder exists
  ansible.windows.win_file:
    path: "{{ working_dir }}\\user_files"
    state: directory

- name: Identify per-user folders on ansible controller
  stat:
    path: "{{ role_path }}/files/{{ item }}" # needs role_path due to delegation
  register: local_folder_check
  delegate_to: localhost
  loop: "{{ local_users + local_admins + domain_users + domain_admins }}" # not public as sharing on desktop is not wanted, and not default so that new users dont get it (users are already deployed by now)

# Failsafe to avoid errors when user doesn't exist yet
- name: Check if user's folder exists
  ansible.windows.win_stat:
    path: "C:\\Users\\{{ item }}"
  register: user_check #item: user_check result, item.item: local_folder_check result, item.item.item: original username string
  loop: "{{ local_folder_check.results }}" 
  when: item.stat.exists and item.stat.isdir

# Improves copy times at expense of disk usage and allows for better pause and restart support
- name: Copy files to staging folder
  ansible.windows.win_copy:
    src: files/
    dest: "{{ working_dir }}\\user_files\\{{ item.item.item }}"
    #force: yes
  loop: "{{ user_check.results }}"

- name: Copy specific user folder to Windows Documents
  ansible.windows.win_copy:
    src: "{{ working_dir }}\\user_files\\{{ item.item.item }}\\"
    dest: "C:\\Users\\{{ item.item.item }}"
    force: no #make sure not to replace existing files since this could result in deleting essential data if greyteam copies in bad files
  loop: "{{ user_check.results }}"
  when: #only copy if folder existed locally AND user profile exists on remote
    - not item.skipped | default(false)
    - item.stat.exists