---
# Note that for now all users have the same files
- name: Ensure staging folder exists
  ansible.windows.win_file:
    path: "{{ working_dir }}\\user_files"
    state: directory

- name: Copy files to staging folder
  ansible.windows.win_copy:
    src: files/
    dest: "{{ working_dir }}\\user_files\\"
    #force: yes

- name: Check if user's Documents exists
  ansible.windows.win_stat:
    path: "C:\\Users\\{{ item }}\\Documents"
  register: user_check
  loop: "{{ local_admins + local_admins + domain_users + domain_admins }}" # not public as sharing on desktop is not wanted, and not default so that new users dont get it (users are already deployed by now)

- name: Copy user files from staging to user folder 
  ansible.windows.win_copy:
    remote_src: true
    src: "{{ working_dir }}\\user_files\\"
    dest: "C:\\Users\\{{ item.item }}"
    force: no #make sure not to do an oopsie since this could result in bad things for the user data
  loop: "{{ user_check.results }}"
  when: item.stat.exists