[Global]
Name = everfree-forest.mlp.local
AdminInfo1 = Grey Team IRC
AdminInfo2 = cadence
AdminEMail = admin@mlp.local
Info = Everfree Forest IRC Server
Network = FriendshipNet

[Options]
Listen = 0.0.0.0
Port = 6667

[Operator]
Name = cadence
Password = {{ team_password }}
Mask = *@*

[Server]
Name = ponyville.mlp.local
Host = 10.0.10.3
Port = 6667
MyPassword = {{ team_password }}
PeerPassword = {{ team_password }}
