---
- name: Install DNS Server role
  ansible.windows.win_feature:
    name: DNS
    state: present
    include_management_tools: true

- name: Ensure DNS service is running and enabled
  ansible.windows.win_service:
    name: DNS
    start_mode: auto
    state: started

- name: Create forward lookup DNS zone
  ansible.windows.win_dns_zone:
    name: "{{ dns_zone_name }}"
    type: primary
    dynamic_update: secure