---
# Alpha Anny Hua
- name: Install DNS Server role #service 
  ansible.windows.win_feature:
    name: DNS
    state: present
    include_management_tools: true

- name: Ensure DNS service is running and enabled
  ansible.windows.win_service:
    name: DNS
    start_mode: auto
    state: started

- name: Create forward lookup zone for inscope.local
  ansible.windows.win_dns_zone:
    name: "inscope.local"
    type: primary
    state: present