- name: apt update
  apt:
    update_cache: yes

- name: Enable source repositories
  lineinfile:
    path: /etc/apt/sources.list
    regexp: '^# deb-src'
    line: 'deb-src http://archive.ubuntu.com/ubuntu jammy main'
  notify: apt update

- name: Install build dependencies
  apt:
    name:
      - build-essential
      - libpam0g-dev
      - libssl-dev
    state: present

- name: Download vsftpd source from apt
  command: apt-get source vsftpd=2.3.4*
  args:
    chdir: /tmp

